

.css_banner_colour{
    background-color: #F6F9FC;
}
.css_color{
    background-color: #E9F3FC;
}
.col2{
    width: 300px;
}
.m_img{
    margin-left: 150px;
}
.container_trending_products{
    background-color: #FFFFFF;
} 
.button_color {
    background-color: #FE3638;
}
.margin_love{
    margin-left: 240px;
    
}
/* ipad-section======================================================= */
.iPad-Pro{
    background-color: #F0F7FF;
}
/* .yt-color{
    background-color: #FF0000;
} */
/* .margin_ipad{
    margin-left: 190px;
} */
/* .love_icone{
    width: 120px;
    height: 120px;
} */